<div class="register-container">
  <h2>Register</h2>

  <form>
    <div>
      <label>Username:</label>
      <input type="text" [(ngModel)]="user.uname" name="uname" required>
    </div>

    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="user.email" name="email" required>
    </div>

    <div>
      <label>Password:</label>
      <input type="password" [(ngModel)]="user.pwd" name="pwd" required>
    </div>

    <div>
      <label>Role:</label>
      <select [(ngModel)]="user.role" name="role" required>
        <option value="" disabled>Select Role</option>
        <option value="STUDENT">STUDENT</option>
        <option value="ADMIN">TEACHER</option>
      </select>
    </div>

    <button type="submit" (click)="onRegister()">Register</button>

    <!-- Error / Success messages -->
  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  <!-- Show login link only after successful registration -->
  <!-- <div *ngIf="showLoginLink" style="margin-top: 10px;">
    You can now <a href="/login" (click)="goToLogin()">Login</a>.
  </div> -->

    <p>If you are Registerd ! Please Login</p>
    <button type="submit" (click)="goToLogin()">Login</button>
  </form>

  
</div>

<!-- Lakshmi--zxcv
Sasi--1234 -->