<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/about">ABOUT</a>
    <a href="/education">EDUCATION</a>
    <a href="/skills">SKILLS</a>
    <a href="/contact">CONTACT</a>
</nav>
<div class="container">
    <h2>About Me</h2>
    <div class="box">
        <p>Motivated and passionate, always ready to learn and grow with new technologies.</p>
    </div>
    <div class="box">
        <<h3>Basic Information</h3>
        <p><strong>Date of Birth:</strong>18/09/2002</p>
        <p><strong>Email:</strong> lakshmithipperamappa@gmail.com</p>
        <p><strong>Mobile:</strong> T Lakshmi</p>
        <p><strong>Address:</strong> Narasambudhi(V), Agali(M), Sri Sathya Sai(D)</p>
    </div>
</div>
</body>
</html>
