<!DOCTYPE html>
<html>
<head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/about">ABOUT</a>
    <a href="/education">EDUCATION</a>
    <a href="/skills">SKILLS</a>
    <a href="/contact">CONTACT</a>
</nav>
<div class="container">
    <h2>Contact Me</h2>
    <div class="box">
        <form>
            <input type="text" placeholder="Name"><br><br>
            <input type="text" placeholder="Subject"><br><br>
            <input type="email" placeholder="Email"><br><br>
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="box">
        <p><strong>Phone:</strong> +91 9398002303</p>
        <p><strong>Email:</strong> rlakshmithipperamappa@gmail.com</p>
    </div>
</div>
</body>
</html>
