<!DOCTYPE html>
<html>
<head>
    <title>Education</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/about">ABOUT</a>
    <a href="/education">EDUCATION</a>
    <a href="/skills">SKILLS</a>
    <a href="/contact">CONTACT</a>
</nav>
<div class="container">
    <h2>Education</h2>
    <div class="box">
        <h3>2020-2024 - Bachelor Degree</h3>
        <p>Rajiv Gandhi University Of Knowledge Technologies,RKValley - 8.97 CGPA</p>
    </div>
    <div class="box">
        <h3>2018-2020 - Pre-University</h3>
        <p>Rajiv Gandhi University Of Knowledge Technologies,RKValley - 9.61 CGPA</p>
    </div>
</div>
</body>
</html>
