<!DOCTYPE html>
<html>
<head>
    <title>Skills</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/about">ABOUT</a>
    <a href="/education">EDUCATION</a>
    <a href="/skills">SKILLS</a>
    <a href="/contact">CONTACT</a>
</nav>
<div class="container">
    <h2>Skills</h2>
    <div class="box">
        <ul>
            <li>JAVA</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>BOOTSTRAP</li>
            <li>JAVASCRIPT</li>
            <li>TYPESCRIPT</li>
            <li>ANGULAR</li>
        </ul>
    </div>
</div>
</body>
</html>
